{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/setting.css' %}" />
    {% block extra_style %}{% endblock %}
    <title>DeMiAインターン</title>
</head>
<body>
    {% block header %}
    <header class="header">
        <div class="header-container">
            <span class="header-container__title">
                {% block header-title %}設定{% endblock %}
            </span>
        </div>
    </header>
    {% endblock %}

    {% block content %}
    <a href="{% url 'username_change' %}" class="button"><div class="info">ユーザ名変更</div></a>
    <a href="{% url 'mailadress_change' %}" class="button"><div class="info">メールアドレス変更</div></a>
    <a href="{% url 'icon_change' %}" class="button"><div class="info">アイコン変更</div></a>
    <a href="{% url 'password_change' %}" class="button"><div class="info">パスワード変更</div></a>
    <a href="{% url 'logout' %}" class="button"><div class="info">ログアウト</div></a>
    {% endblock %}

    {% block footer %}
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container__item">
                <a href="{% url 'friends' %}" class="footer-item__link">
                    <span class="footer-item__icon"><img src="{% static 'myapp/img/people-24px.svg' %}"></span>
                    <span class="footer-item__text">友達</span>
                </a>
            </div>
            <div class="footer-container__item">
                <a href="{% url 'setting' %}" class="footer-item__link">
                    <span class="footer-item__icon"><img src="{% static 'myapp/img/settings-black-18dp.svg' %}"></span>
                    <span class="footer-item__text">設定</span>
                </a>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
